body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    /* Max 2 columns min 1 */
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.left-container {
    padding: 20px;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(255, 255, 255, 0.24);

    animation: fadeIn 0.5s ease-in-out;
}

.right-container {
    padding: 20px;
    text-align: center;

    background: rgba(255, 255, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(255, 255, 255, 0.24);

    animation: fadeIn 1s ease-in-out;
}

.info-text{
    text-align: justify;
    font-size: large;
}

.info-panel{
    padding-right: 10px;
}

.btn-control{
    transition: all 0.2s;
    font-size: large;
    /* Pill shaped */
    border-radius: 60px;

    border: 1px solid rgba(255, 255, 255, 0.24);

    background: rgba(255, 255, 255, 0.41);
}

.btn-control-tryout{
    /* background-image: linear-gradient(75deg, #C9D6FF, #E2E2E2,#E2E2E2, #C9D6FF); 
    background-size: 400% ;
    background-position: left; */

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.09);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(255, 255, 255, 0.24);

    transition: all 0.2s ease-in-out;
}

.btn-control-tryout:hover{
    /* From https://css.glass */
    transition: all 0.2s ease-in-out;

    background: rgba(193, 252, 242, 0.44);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(182, 255, 243, 0.24);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

