<div class="container sticky-bottom p-3 mt-auto ">
    <div class="row">
        <div class="col-12">
            <div class="card bg-dark text-muted rounded shadow-navbar">
                <div class="card-body">
                    <div class="row d-flex justify-content-between">
                        <div class="col-9">
                            <p class="card-text">ITS Character Classificator by <a href="https://www.linkedin.com/in/andrej-tasevski/">Andrej Tasevski</a></p>
                        </div>
                        <div class="col-3 d-flex justify-content-end">
                            <p class="card-text">© 2023</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>