<style>
    body {
      background-color: white;
    }
  
    shadow {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
    }
  
    .shadow-navbar {
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    }
  
    @font-face {
      font-family: hubotSans;
      src: url('https://fonts.cdnfonts.com/css/hubot-sans');
    }
  
    div {
      font-family: 'Hubot-Sans', sans-serif;
    }
  
    .vl {
      border-left: 2px solid gray;
    }
  </style>
  
  <div class="container sticky-top p-3 mt-3">
  
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark rounded shadow-navbar">
      <div class="container-fluid">
        <a onclick="getAnimationState()" class="navbar-brand" href="/">AI CClass</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <div class="vl"></div>
            <li class="nav-item">
              <a onclick="getAnimationState()" class="nav-link" href="/manual">Uputsvo</a>
            </li>
            <li class="nav-item">
              <a onclick="getAnimationState()" class="nav-link" href="/contact">O klasifikatoru</a>
            </li>

            <!-- If user has admin role -->
            <% if (user.roles.includes('admin')) { %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Admin
                </a>
                <ul class="dropdown-menu">
                  <li><a onclick="getAnimationState()" class="dropdown-item" href="/admin/dashboard">Admin Dashboard</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a onclick="getAnimationState()" class="dropdown-item" href="/admin/logs">Logovi</a></li>
                  <li><a onclick="getAnimationState()" class="dropdown-item" href="/admin/users/list">Korisnici</a></li>
                </ul>
              </li>
            <% } %>

          </ul>
          <div class="vl"></div>
          <ul class="navbar-nav ms-auto">

            <% if (user.username != 'guest' && user.email != 'guest') { %>

              <!-- If logged in -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= user.username %>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/user/profile">Profil</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a onclick="getAnimationState()" class="dropdown-item" href="/user/logout">Odjavi se</a></li>
                </ul>
              </li>

            <% } else { %>

              <!-- If not logged in -->
              <li class="nav-item">
                <a class="nav-link" onclick="getAnimationState()" href="/user/login">Prijavi se</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="getAnimationState()" href="/user/register">Registruj nalog</a>
              </li>

            <% } %>
  
          </ul>
    </nav>
  </div>

  <script src="http://localhost:3000/static/js/master.js"></script>